body {
    background-color:#999;
    font-family:verdana;
    color:#ddd;
    text-align: center;
    margin:0px;
}
header {
    margin:0px;
    padding:5px;
    background-color: #222;
    box-shadow: rgba(0,0,0,.3) 0px 10px 10px;
}
form {
    margin:10px;
    padding:30px;
    display:inline-block;
    border-radius: 20px;
    border:thick solid #333;
    background-color: #ddd;
    font-size:30px;
    color:#333;
    width:90%;
    max-width:400px;
    box-shadow: rgba(0,0,0,.3) 10px 10px 10px;
}
input {
    margin-top:20px;
    font-size:30px;
}
input[type=text], input[type=color] {
    margin-bottom:15px;
}
input[type=submit] {
    box-shadow: rgba(0,0,0,.3) 5px 5px 5px;
    padding:10px 20px;
    border:none;
    cursor:pointer;
    border-radius: 10px;
    background-color: rgb(129, 192, 255);
    margin-bottom:15px;
}
input[type=submit]:hover {
    background-color: rgb(181, 208, 255);    
}
footer {
    margin:30px;
    font-size:24px            
}
#welcome {
    font-size:24px;
    font-variant: small-caps;
    font-style: italic;
    margin:30px 0px -10px 0px;
}
table {
    margin:20px;
    display:inline-table;
    border-spacing:5px;
    color:#444
}
th {
    font-size:30px;
    padding:10px 20px;
    background-color: white;
}
td {
    font-size:20px;
    padding:10px 20px;
    background-color: #ccc;
}


/* CONFIRMATION PANEL */
#confirm {
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:290px;
    padding:30px;
    text-align: center;
    background-color: yellow;
    border:medium solid #222;
    border-radius: 15px;
    box-shadow: rgb(0,0,0,.2) 10px 10px 10px;
}
#confirm button {
    padding:10px 20px;
    font-size:20px;
    border-radius:10px;
    cursor:pointer;
}
#delete {
    width:125px;
    text-align: center;
    margin-right:15px;
    background-color: red;
    color:white;
}
#delete:hover {
    background-color: rgb(255, 74, 74);
}
#cancel:hover {
    background-color: white;
}