*{
    margin: 0;
}

body{
    background-image: url(images/background.jpg);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(42, 1, 95, 0.9);
    position: sticky;
    top: 0;
    width: 100%;
    color:  blueviolet;
    height: 6.5em;
}

img{
    padding: 2px;
    background: black;
    width: 300px;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.05);
}

.car-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

figcaption{
    height: 5;
    text-align: center;
    color: white;
    background-color: black;
    opacity: 80%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .8);
}




